* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-logo {
    width: 595.18px;
    height: 500px;
    display: inline-block;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    width: 87px;
    height: 20px;
    top: 46px;
    left: 42px;
    cursor: pointer;
    margin-right: 23px;
    color: #17233D;
}

.button-1 {
    width: 124px;
    height: 51px;
    top: 32px;
    left: 420px;
    border-radius: 3px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49;
    width: 582px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    margin-top: 32px;
    margin-bottom: 100pxs;
    width: 500px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

.link-botton {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    width: 112px;
    height: 27px;
    margin-top: 707px;
}

@media screen and (max-width:560px) {
    .link-header {
        display: none;
    }

    .button-1 {
        width: 91px;
        height: 31px;
        border-radius: 6px;
        border: 1px;
        margin: 10px 0 0 180px;
    }
    

    h1 {
        width: 278px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.5961538553237915px;
        text-align: center;
        margin:-59px 50px 0 50px;
    }


    p {

        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 304px;
        height: 165px;
        margin: 15px 40px;

    }

    .link-botton {

        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 1px;
        text-align: left;
    }

    section {
        text-align: center;
        margin:0;
        padding: 0;
    }

    header {
        margin: 20px 0 144px 90px;
    }

    .image-logo {
        width: 100%;
        height: auto;
        position: static;
        display: block;
        padding: 25px;
        margin-top: 76px;
    }
    main{
        margin: 0;
        padding: 0;
    }
 }